<h1>Welcome to the theme park!</h1>

<%= 'ADMIN' if @user.admin %>
<br>
<div>
  <p>Name: <%= @user.name %></p>
  <p>Tickets: <%= @user.tickets %></p>
  <p>Height: <%= @user.height %></p>
</div>

<%= link_to 'See attractions', attractions_path %>
